<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Robinson Aguilar - Parcial Consumo Api</title>
  </head>
  <body class="container">
    <!--form de adicionar-->
    <div class="card">
      <h2>Agregar nuevo plato</h2>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">idDish</span>
        <input type="number" class="form-control" placeholder="idDish" aria-label="idDish" aria-describedby="basic-addon1" id="idSend">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">name</span>
        <input type="text" class="form-control" placeholder="name" aria-label="name" aria-describedby="basic-addon1" id="nameSend">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">calories</span>
        <input type="number" class="form-control" placeholder="calories" aria-label="calories" aria-describedby="basic-addon1" id="caloriesSend">
      </div>

      <select class="form-select" aria-label="Default select example" id="vegetarianSend">
        <option selected>isVegetarian</option>
        <option value="true">true</option>
        <option value="false">false</option>
      </select>

      <hr>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">value</span>
        <input type="number" class="form-control" placeholder="value" aria-label="value" aria-describedby="basic-addon1" id="valueSend">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">comments</span>
        <input type="text" class="form-control" placeholder="comments" aria-label="comments" aria-describedby="basic-addon1" id="commentsSend">
      </div>
      
      <button type="button" class="btn btn-success" id="Agregar">Agregar</button>
      <button type="button" class="btn btn-warning" id="limpiar">Limpiar Campos</button>
    </div>

    <hr>


    <!--Seccion de eliminar y listar-->
    <h2>Listar y eliminar</h2>
    <div class="row" style="margin-bottom: 2rem; margin-top: 2rem">
      <select
        class="col form-select"
        aria-label="Default select example"
        id="select1"
      >
        <option selected>seleccione un plato</option>
      </select>
      <button type="button" class="col btn btn-primary" id="button">
        mostrar todos los registros
      </button>
      <button type="button" class="btn btn-danger" id="btnDelete">Eliminar</button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">idDish</th>
          <th scope="col">name</th>
          <th scope="col">calories</th>
          <th scope="col">isVegetarian</th>
          <th scope="col">value</th>
          <th scope="col">comments</th>
        </tr>
      </thead>
      <tbody id="tbody"></tbody>
    </table>

    <script src="js/script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
